body {
  background-color: bisque;
  font-size: 18px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 45px;
}

p {
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 600px;
  
  margin: 0 auto;
}

img {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 200px;
}